header
{
    height: 100vh;
    background:linear-gradient(to left,black,rgba(50, 45, 45, 0.76)),url("./images/homebg.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

}

.app-banner
{
    color: white;
    position: absolute;
    z-index: 1;
    top: 20rem;
    left: 5rem;
    padding: 20px;
    width: 40rem;
    

}
.app-banner .title
{
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
    color: red;

}
@media screen and (min-width : 567px) and (max-width: 800px){
    .app-banner{
        width: 30rem;
    }
}
@media screen and (min-width : 0px) and (max-width: 566px){
    .app-banner{
        width: 20rem;
    }
}
